body{
    background-image: url(pexels-madison-inouye-1831234.jpg);
}
@font-face {
    font-family: Lobster;
    src: url(Lobster-Regular.ttf)
} 
h1 {
    text-align: center;
    font-family: Lobster;
    color: white;
    font-size: 50px;
}
input {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 30px;
    background-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    
    
}
.flex-child {
    flex: 1;
    border:5px solid hotpink;
    border-radius: 25px;
    padding: 6px;
    height: 400px;

}
.flex-child:first-child {
    margin-right: 30px;
}
