@font-face {
    font-family: Staat;
    src: url(Staatliches-Regular.ttf)

}

body {
    background-color: black;
}

header {
    background-color: rgba(0, 0, 0, 0.66);
    margin-bottom: 1em;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: rgb(150, 104, 35);
    text-shadow: 0 0 20px rgb(150, 104, 35),0 0 30px rgb(150, 104, 35) 
  }
  
  to {
     color: grey;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}
#container {
    display: flex;
  justify-content: space-around;
}
#Aboutcream{

    height: 50%;
    width: 30%;
    margin-left: 2px;
    
}
#CelebFL {

    height: 50%;
    width: 30%;
    margin-right: 2px;
}
#photowoman {
    display: flex;
    justify-content: center;

}
#photowoman img {
    padding: 0vw;
    border: solid yellow 3px;
    width: 500px;
    height: 300px; 
    margin-right: 35px;
}

  